<%= javascript_pack_tag "pawa/application" %>


<div class="container">
<div class="row">
</div>
  <h1 class="col-sm-6 text-center">兵力計算</h1>


<%= form_with model: @busho, url: pawa_index_path, local: true do |f| %>

  <div id="enemy" class="form-group row col-sm-6 py-0 my-0" data-json = <%= @busho_json %> >
    <%= f.label :name, '相手武将', {class:"col-3 col-form-label text-nowrap"} %>
    <div class="col-6">
      <%= f.collection_select(:enemy_id, @busho, :bu_id, :name, {}, {class:"form-control form-control-sm", id:"enemy_id"}) %>
    </div>
    <span class="col-3 text-nowrap" id="enemy_sen"><%= @senjutsu %></span>
  </div>
  <div id="ally" class="form-group row col-sm-6 py-0 my-0">
    <%= f.label :name, '味方武将', {class:"col-3 col-form-label text-nowrap"} %>
    <div class="col-6">
      <%= f.collection_select(:busho_id, Busho.all, :bu_id, :name, {}, {class:"form-control form-control-sm", id:"ally_id"}) %>
    </div>
    <span class="col-3 text-nowrap" id="ally_sen"><%= @senjutsu %></span>
  </div>

  <div class="form-group row col-sm-6 py-0 my-0" id="enemy_power">
      <%= f.label :name, '相手兵力', {class:"col-3 col-form-label text-nowrap"} %>
    <div class="col">
      <%= f.number_field :float, class:"min form-control form-control-sm block", id:"min", placeholder:"下限" %>
      <%= f.number_field :float, class:"max form-control form-control-sm block", id:"max", placeholder:"上限" %>
    </div>
  </div>
  <div class="form-group row col-sm-6 py-0 my-0" id="kishu">
      <%= f.label :name, '奇襲効果', {class:"col-3 col-form-label text-nowrap"} %>
    <div class="col">
      <%= f.select :kishu, [["-0%", 0], ["-30%", 0.3], ["-60%", 0.6], ["-100%", 1]], {}, {class:"form-control form-control-sm", id:"busho_kishu"} %>
    </div>
  </div>


  <div id="">
  <%= f.submit "計算" ,class:"col-sm-6 btn btn-sm btn-outline-primary  btn-block   my-0", id:"btn" %>
  </div>
<% end %>

<table class="col-sm-6 mt-2 text-center text-nowrap" border="2">
<thead>
  <tr>
    <th></th>
    <th>敵将アリ</th>
    <th>敵将ナシ</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>味方<br>アリ</th>
    <td>
      <table class="col text-center text-nowrap">
        <tr>
          <th>有利</th>
          <th>同値</th>
          <th>不利</th>
        </tr>
        <tr>
          <td><span id="tab0">-</span></td>
          <td><span id="tab1">-</span></td>
          <td><span id="tab2">-</span></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="col text-center text-nowrap">
        <tr>
          <th>有利</th>
          <th>同値</th>
          <th>不利</th>
        </tr>
        <tr>
          <td><span id="tab3">-</span></td>
          <td><span id="tab4">-</span></td>
          <td><span id="tab5">-</span></td>
        </tr>
    </table>
    </td>
  </tr>
  <tr>
    <th>味方<br>ナシ</th>
        <td>
      <table class="col text-center text-nowrap">
        <tr>
          <th>有利</th>
          <th>同値</th>
          <th>不利</th>
        </tr>
        <tr>
          <td><span id="tab6">-</span></td>
          <td><span id="tab7">-</span></td>
          <td><span id="tab8">-</span></td>
        </tr>
    </table>
    </td>    <td>
      <table class="col text-center text-nowrap">
        <tr>
          <th>有利</th>
          <th>同値</th>
          <th>不利</th>
        </tr>
        <tr>
          <td><span id="tab9">-</span></td>
          <td><span id="tab10">-</span></td>
          <td><span id="tab11">-</span></td>
        </tr>
    </table>
    </td>
  </tr>
</tbody>
</table>
<%= link_to "トップ", root_path %>
</div>